In [43]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import seaborn as sns

- o pandas é para manipulação de dados
- a numpy é para trabalharmos com algumas operações matematicas
- o dataframe serve para organizar e manipular dados tabulares, como planilhas ou tabelas de banco de dados

# instalando dataset

In [44]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("matleonard/feature-engineering-data")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\joaop\.cache\kagglehub\datasets\matleonard\feature-engineering-data\versions\4

# adquirindo os dados

In [45]:
data = pd.read_csv("datasets/train_sample.csv")
data.head() # Display the first few rows of the dataset

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0

# Passo 2 - Valores faltantes

In [46]:
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys= ['Total em nulos', 'Percentual de nulos'])
missing_data.head(20)

                 Total em nulos  Percentual de nulos
attributed_time         1843715              0.80142
ip                            0              0.00000
device                        0              0.00000
app                           0              0.00000
os                            0              0.00000
channel                       0              0.00000
click_time                    0              0.00000
is_attributed                 0              0.00000


- em total, basicamente, percorre todas as colunas e conta quantos valores nulos existem em cada coluna
- em percent, calcula a porcentagem de valores nulos em cada coluna, dividindo o número de valores nulos pelo número total de entradas na coluna
- em missing_data, concatena os dois resultados anteriores em um único DataFrame, com duas colunas: 'Total' e 'Percentual', facilitando a visualização dos valores nulos em cada coluna do conjunto de dados.
- o head(20) exibe as primeiras 20 linhas do DataFrame resultante, mostrando as colunas com mais valores nulos e suas respectivas porcentagens.

In [47]:
# como o numero de valores faltantes em attributed_time é quase 81%, vamos deletar essa coluna.
data.drop(['attributed_time'], axis=1, inplace=True) # inplace=True faz a alteração diretamente no DataFrame original
data.isnull().sum().sum()
# Verificar se a coluna foi removida
print('attributed_time' in data.columns)

# Recalcular missing_data após alterações
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.shape[0]).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percentual'])
print(data.isnull().sum().sum())        # total de valores faltantes
missing_data[missing_data['Total'] > 0] # colunas com valores faltantes

False
0

Empty DataFrame
Columns: [Total, Percentual]
Index: []

In [54]:
data.is_attributed.describe()

count    2.300561e+06
mean     1.985803e-01
std      3.989313e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: is_attributed, dtype: float64

# Normalização dos dados
- para normalizar os dados, podemos usar a técnica de Min-Max Scaling, que transforma os valores de uma coluna para um intervalo entre 0 e 1. Isso é feito subtraindo o valor mínimo da coluna e dividindo pela diferença entre o valor máximo e o valor mínimo.
- formula:
-   (valor_normalizar - valor_minimo) / (valor_maximo - valor_minimo)
- exemplo: data['coluna_normalizada'] = (data['coluna'] - data['coluna'].min()) / (data['coluna'].max() - data['coluna'].min())

# Padronização dos dados
- A padronização é igual a:
-  (valor_a_padronizar - media) / desvio_padrao
o